@model List<HospitalProjectTeamThree.Models.Event>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Admin"))
{
    <a href="/Event/Add" class="btn btn-primary bottom-margin-10" title="Add">Add an Event</a>
}
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        Events
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-12">
                <div class="row">
                    @{
                        foreach (var eventData in Model)
                        {
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <div class="caption text-center" onclick="location.href='/Event/Show/@eventData.EventId'">
                                        <div class="position-relative">
                                            <img src="~/Images/Event/@eventData.EventImagePath" style="width:72px;height:72px;" />
                                            <h4 id="thumbnail-label"><a href="/Event/Show/@eventData.EventId" target="_blank">@eventData.EventTitle</a></h4>
                                        </div>
                                        <div class="form-horizontal">

                                            <div class="form-group" style="margin:5px !important">
                                                <label class="control-label col-sm-4">Date :</label>
                                                <div class="col-sm-8">
                                                    <label class="control-label font-weight500"> @eventData.EventStartDate.ToString("MM-dd-yyyy") TO @eventData.EventEndDate.ToString("MM-dd-yyyy") </label>
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin:5px !important">
                                                <label class="control-label col-sm-4">Time :</label>
                                                <div class="col-sm-8">
                                                    <label class="control-label font-weight500"> @eventData.EventFromTime To @eventData.EventToTime </label>
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin:5px !important">
                                                <label class="control-label col-sm-4">Location :</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label font-weight500"> @eventData.EventLocation </label>
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin:5px !important">
                                                <label class="control-label col-sm-6">Target Audience :</label>
                                                <div class="col-sm-6">
                                                    <label class="control-label font-weight500"> @eventData.EventTargetAudience </label>
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin:5px !important">
                                                <label class="control-label col-sm-5">Hosted By :</label>
                                                <div class="col-sm-7">
                                                    <label class="control-label font-weight500"> @eventData.EventHostedBy </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="caption card-footer text-center">
                                        <ul class="list-inline">
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li><a href="/Event/Update/@eventData.EventId" class="btn btn-primary btn-sm" title="Edit">Edit</a></li>
                                                <li><a href="/Event/Update/@eventData.EventId" class="btn btn-danger btn-sm" title="Edit">Delete</a></li>
                                            }
                                            <li><a href="/Event/Show/@eventData.EventId" class="btn btn-success btn-sm" title="Edit">View Detail & Register</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>