@model List<HospitalProjectTeamThree.Models.Event>
@{
    ViewBag.Title = "RegistrationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-floatright">
    <a href="/Event/List" class="btn btn-primary bottom-margin-10">Back to Event List</a>
</div>
<h1>Events</h1>
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        Past Event Registration
    </div>
    <div class="panel-body">
        <table class="table table-dark top">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date </th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                    <th scope="col">Target Audience</th>
                    <th scope="col">Hosted By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventData in Model)
                {
                    <tr>
                        <td>
                            <a href="/Event/Show/@eventData.EventId"> @eventData.EventTitle</a>
                        </td>
                        <td>
                            @eventData.EventStartDate.ToString("MM-dd-yyyy") To @eventData.EventEndDate.ToString("MM-dd-yyyy")
                        </td>
                        <td>
                            @eventData.EventFromTime To @eventData.EventToTime
                        </td>
                        <td>
                            @eventData.EventLocation
                        </td>
                        <td>
                            @eventData.EventTargetAudience
                        </td>
                        <td>
                            @eventData.EventHostedBy
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

