@model HospitalProjectTeamThree.Models.ViewModels.RoomBookings
@{
    ViewBag.Title = "Confirm";
}

<!--This page shows the booking and personal information-->
<a href="/Room/ShowAll">Make another reservation </a>
<h2>Your Booking Information</h2>

<div class="featured">
    <div class="card featured">
        <h2>@Model.Room.RoomType</h2>
        <div class="thumb">

            @{
                <!--Display appropriate image, for room type-->
                switch (@Model.Room.RoomType)
                {
                    case "Private":
                        <img src="~/images/Room/private.jpg" alt="">
                        break;
                    case "Semi-private":
                        <img src="~/images/Room/semiprivate.jpg" alt="">
                        break;
                    default:
                        <img src="~/images/Room/public.jpg" alt="">
                        break;
                }
            }


        </div>


    </div>

    <div class="roomdesc">

        <div class="price center">Room Price: $@(Model.Room.RoomPrice/100)</div>
        <div class="price center">Total Beds: @Model.Room.RoomTotalBeds</div>
        <p>@Model.Room.RoomDesc</p>
        <!--<div> <button><a href="/Room/RoomBooking/@Model.Room.RoomID">Reserve a room</a></button></div>-->
    </div>
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" value="@Model.User.FirstName" readonly>
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" value="@Model.User.LastName" readonly>
        <!--<label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="@Model.User.Email" readonly>
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="email" value="@Model.User.PasswordHash" readonly>-->
        <!--<label for="roomselected">Selected Room</label>
    <input type="text" class="form-control" id="roomselected" name="roomselected" value="@Model.Room.RoomType" readonly>-->
        <label for="datefrom">Date From(YYYY-MM-DD):</label>
        <input type="text" class="form-control" id="datefrom" name="datefrom" value="@Model.AllRoomBookings.DateFrom">
        <label for="dateto">Date To(YYYY-MM-DD):</label>
        <input type="text" class="form-control" id="dateto" name="dateto" value="@Model.AllRoomBookings.DateTo">
        <!--<input type="hidden" name="roomId" id="roomId" value="@Model.Room.RoomID" />
    <input type="hidden" name="userid" id="userid" value="@Model.User.Id" />-->

    </div>
</div>