@model HospitalProjectTeamThree.Models.ViewModels.FeaturedRoom
@{
    ViewBag.Title = "ShowOne";
}
<!--This page displays selected room, and renders more information about selected room,
    Also checks if user is authenticated and allowed to make reservation
    If user not logged in or registered, prompts to login
    -->


    <div class="featured">
        <div class="card featured">
            <h2>@Model.room.RoomType</h2>
            <div class="thumb">

                @{
                    <!--Display appropriate image, for room type-->
                    switch (@Model.room.RoomType)
                    {
                        case "Private":
                            <img src="~/images/Room/private.jpg" alt="">
                            break;
                        case "Semi-private":
                            <img src="~/images/Room/semiprivate.jpg" alt="">
                            break;
                        default:
                            <img src="~/images/Room/public.jpg" alt="">
                            break;
                    }
                }


            </div>


        </div>

        <div class="roomdesc">

            <div class="price center">Room Price: $@(Model.room.RoomPrice/100)</div>
            <div class="price center">Total Beds: @Model.room.RoomTotalBeds</div>
            <p>@Model.room.RoomDesc</p>

            <!--Check if user registered-->
            <!--Reference https://stackoverflow.com/questions/1332132/check-if-user-is-logged-in-in-user-control-asp-net-mvc-->
            @{
                if (@Request.IsAuthenticated)
                {
                    <div> <button><a href="/Room/RoomBooking/@Model.room.RoomID">Reserve a room</a></button></div>
                }
                else
                {
                    <div> <button><a href="/Account/Login/">Please log In to Reserve a room</a></button></div>
                }
            }



            <!--<div> <button><a href="/Room/RoomBooking/@Model.room.RoomID">Reserve a room</a></button></div>-->
        </div>
        
    </div>
   

<div class="flex-container">
    @{


        foreach (var Room in Model.rooms)
        {


        <div class="card">
            <div class="thumb">

                <!--Display appropriate image, for room type-->
                @{
                    switch (@Room.RoomType)
                    {
                        case "Private":
                            <img src="~/images/Room/private.jpg" alt="">
                            break;
                        case "Semi-private":
                            <img src="~/images/Room/semiprivate.jpg" alt="">
                            break;
                        default:
                            <img src="~/images/Room/public.jpg" alt="">
                            break;
                    }
                }


            </div>
            <div class="desc"><h2>@Room.RoomType</h2></div>
            <div class="price center">$@(Room.RoomPrice/100)</div>
            <p class="center">Must be logged in to register for a room</p>
            <button><a href="/Room/ShowOne/@Room.RoomID">See Room Details</a></button>
            <!--<input class="center" type="button" value="Login/Register">-->
        </div>


        }
    }

</div>
