@model HospitalProjectTeamThree.Models.ViewModels.ShowJobListing
@{
    ViewBag.Title = "Delete";
}

<h2>Are you Sure you want to delete this job posting</h2>
<div class="col-md-4">
    <div>Job Listing</div>
    <div>Job Title: @Model.JobListing.JobTitle</div>
    <div>Job Description: @Model.JobListing.JobDescription</div>
    <div>Department: @Model.JobListing.Department.DepartmentName</div>
    <div>Salary: @Model.JobListing.Salary</div>
    <div>Start Date: @Model.JobListing.StartDate</div>

</div>
<form method="post" action="/JobListing/Delete/@Model.JobListing.JobID">
    <input type="hidden" name="JobId" value="@Model.JobListing.JobID"/>
    <input type="submit" value="Yes"/>
    <a href="/JobListing/List">No, go back to list</a>

</form>
