@model HospitalProjectTeamThree.Models.ViewModels.DoctorPersonalBlogList

@{
    ViewBag.Title = "DoctorPersonalList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="btn-floatright">
        <a href="/BlogTopic/List" class="btn btn-primary bottom-margin-10">Topic List</a>
    </div>
<h1>Doctor's Blogs</h1>
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        My Blog List
    </div>
    <div class="panel-body">
        <table class="table table-dark top">
            <thead>
                <tr>
                    <th scope="col">Blog ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Author</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Blog in Model.Blog)
                    {
                        <tr>
                            <td>
                                @Blog.BlogId
                            </td>
                            <td>
                                <a href="/DoctorsBlog/Show/@Blog.BlogId">@Blog.BlogTitle</a>
                            </td>
                            <td>
                                @Blog.BlogDate.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @Blog.User.FirstName @Blog.User.LastName
                            </td>
                            <td>
                                <a href="/DoctorsBlog/Update/@Blog.BlogId" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/DoctorsBlog/Delete/@Blog.BlogId" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<a href="/DoctorsBlog/Add" class="btn btn-primary bottom-margin-10">New Blog Entry</a>
