@model List<HospitalProjectTeamThree.Models.DoctorsBlog>
@{
    ViewBag.Title = "PublicList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="btn-floatright">
        <a href="/DoctorsBlog/PublicList" class="btn btn-primary bottom-margin-10">Back to Full List</a>
        <a href="/BlogTopic/PublicList" class="btn btn-primary bottom-margin-10">Topic List</a>
    </div>
<h1>Doctor's Blogs</h1>
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        List of Blogs
    </div>
    <div class="panel-body">
        <form action="/DoctorsBlog/PublicList" method="GET" class="form-inline form-border">
            <input type="text" class="form-control mr-sm-2" name="blogsearchkey" id="blogsearchkey" placeholder="Search By Title..."/>
            <input type="submit" class="btn btn-default custom-btn" value="Search" />
        </form>
        <table class="table table-dark top">
            <thead>
                <tr>
                    <th scope="col">Blog ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Blog in Model)
                    {
                        <tr>
                            <td>
                                @Blog.BlogId
                            </td>
                            <td>
                                <a href="/DoctorsBlog/PublicShow/@Blog.BlogId">@Blog.BlogTitle</a>
                            </td>
                            <td>
                                @Blog.BlogDate.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @Blog.User.FirstName @Blog.User.LastName
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div class="paginate">
    @{
        <div class="pagination-list">
            <a class="btn btn-primary" href="/DoctorsBlog/PublicList?pagenum=@((int)ViewData["pagenum"]-1)&blogsearchkey=@ViewData["blogsearchkey"]" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            <div class="btn btn-primary disabled">@ViewData["pagesummary"]</div>
            <a class="btn btn-primary" href="/DoctorsBlog/PublicList?pagenum=@((int)ViewData["pagenum"]+1)&blogsearchkey=@ViewData["blogsearchkey"]" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
</div>