@model HospitalProjectTeamThree.Models.ViewModels.AddBlogTopic
@{
    ViewBag.Title = "Update";
}

<h2>Update Blog Entry</h2>
<form method="Post" action="/DoctorsBlog/Update/@Model.Blog.BlogId">
    <div>Title: <input type="text" name="BlogTitle" value="@Model.Blog.BlogTitle" /></div>
    <div>
        Topic: 
        @{
            <!-- Here we show the topics that are on this blog entry -->
            foreach (var Topic in @Model.BlogTopics)
            {
                <div class="list">
                    <a href="/BlogTopic/Show/@Topic.TopicId">@Topic.TopicName </a>
                    @{

                    }
                    <a href="/DoctorsBlog/DeleteTopic/@Model.Blog.BlogId?TopicId=@Topic.TopicId">
                        Remove Topic
                    </a>
                </div>
            }

        }
    </div>
    <div>Content: <textarea type="text" name="BlogContent" id="BlogContent" value="@Model.Blog.BlogContent"></textarea></div>
    <div>Source:  <input type="text" name="BlogTitle" value="@Model.Blog.BlogSource" /></div>
    <div> <input type="submit" value="Update Blog Entry" /></div>
</form>
