@model HospitalProjectTeamThree.Models.ViewModels.ShowCrisis

@{
    ViewBag.Title = "List";
}
<!--Any user, regardless if they logged in or not will be able to see this page-->

<h1 class="crisiscenter">All Articles</h1>


<div class="crisiscontainer">
    <aside class="left">
        <ul>
            @{
                foreach (var listcrisis in Model.listcrises)
                {

                    <li><a href="/Crisis/ViewCrisis/@listcrisis.CrisisId">@listcrisis.CrisisName</a></li>

                }
            }
        </ul>
    </aside>
    <main class="crisismain">

        @{


            foreach (var article in Model.articles)
            {


                <p></p>

                <h2>@article.ArticleTitle</h2>

                <div class="cred">

                    <span class="auth">Author: @article.ArticleAuthor</span>
                    <span class="publ">Published: @article.DatePosted</span>
                </div>
                <p>@article.ArticleContent </p>
                <button><a href="/Article/ViewArticle/@article.ArticleId"> Click To Read</a></button>
                <hr />
            }
        }
        <div class="paginate">
            @{
                <a href="/Article/List?pagenum=@((int)ViewData["pagenum"]-1)&articlesearchkey=@ViewData["articlesearchkey"]">Prev</a>
                @ViewData["pagesummary"]
                <a href="/Article/List?pagenum=@((int)ViewData["pagenum"]+1)&articlesearchkey=@ViewData["articlesearchkey"]">Next</a>
            }
        </div>
    </main>
    <aside class="right">
        <h3>Tips to stay Healthy...</h3>
        <ul>
            <li>Wash your hands</li>
            <li>Wear Gloves</li>
            <li>Drink Water</li>
        </ul>
    </aside>
</div>

