@model  HospitalProjectTeamThree.Models.ViewModels.ShowCrisis
@{
    ViewBag.Title = "Update";
}
<!--Administrator will be able to edit articles on this page-->
<h2>Add New Article</h2>

<a href="/Article/List">Back to List of all Articles</a>
<form method="post" action="/Article/Update">
    <div>
        <span>Crisis Name :</span><br />
        <select id="CrisisId" type="text" name="CrisisId">
            @{

                foreach (var Crisis in Model.listcrises)
                {
                    <option value="@Crisis.CrisisId">@Crisis.CrisisName</option>

                }
            }
        </select>

    </div>
    <div>
        <span>Author Name: </span><br />
        <input id="ArticleAuthor" type="text" name="ArticleAuthor" value="@Model.article.ArticleAuthor" />
    </div>
    <!--<div><label for="DatePosted">Published: </label><br />
    <input id="DatePosted" type="date" name="DatePosted" /></div>-->
    <div>
        <span>Article Title: </span><br />
        <input id="ArticleTitle" type="text" name="ArticleTitle" value="@Model.article.ArticleTitle" />
    </div>
    <div>
        <span>Article Content: </span><br />
        <textarea id="ArticleContent" name="ArticleContent" rows="4" cols="50">@Model.article.ArticleContent </textarea>
    </div>
    <div><input type="submit" value="Update Article"></div>
</form>