@model HospitalProjectTeamThree.Models.ViewModels.ShowCrisis
@{
    ViewBag.Title = "ViewCrisis";
}

<a href="/Article/List">Go back to list of all articles</a>
<br />
<fieldset>
    <legend>Administrator</legend>
    <a href="/Crisis/Update/@Model.crises.CrisisId">Update Crisis</a><br />
    <a href="/Crisis/Delete/@Model.crises.CrisisId">Delete Crisis</a><br />
    <hr />
</fieldset>


<h1 class="crisiscenter">@Model.crises.CrisisName</h1>

@{

    foreach (var Articles in Model.articles)
    {
        <p>Article Title: @Articles.ArticleTitle</p>
        <p>Article Author: @Articles.ArticleAuthor</p>
        <p>Published on: @Articles.DatePosted</p>
        <p>@Articles.ArticleContent</p>
        <hr />

    }


}
<div class="paginate">
    @{
        <a href="/Article/List?pagenum=@((int)ViewData["pagenum"]-1)&articlesearchkey=@ViewData["articlesearchkey"]">Prev</a>
        @ViewData["pagesummary"]
        <a href="/Article/List?pagenum=@((int)ViewData["pagenum"]+1)&articlesearchkey=@ViewData["articlesearchkey"]">Next</a>
    }
</div>